<html>
  <head>
    <meta charset="UTF-8">
    <!-- <meta name="google-site-verification" content="ohlrLhLXUMcgRQHgn7BasbEBs06joc2ZXACQVQ2EJKs" /> -->
    <title>숙명사이버대학교</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/mobile.css">
    <link rel="stylesheet" href="/public/profile.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="banner">
        <div class="logo">
            <a id="logoA" href="#home" style="text-decoration: none"><div class="logo-text"><img class="logo-img" src="/img/logo.png"> 숙명사이버대학교</div></div></a>
        <!-- 버튼으로 할것 -->
        <div class="banner-login" id="home">
          {%block login%}
          {%endblock%}
        </div>
      </div>
    </header>

      <!--환영메세지랑 반짝효과부분 추가하는 블럭-->
        {%block rooms%}
        {%endblock%}
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}


      {%block profile%}
      {%endblock%}
  <footer>
  </footer>
</body>
</html>
