<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <div class="container">
      {%block login%}
      {%endblock%}
      <div>
      {%block rooms%}
      </div>
      {%endblock%}
      </div>
    </div>
      
    {% block script %}
    {% endblock %}
  </body>
  <footer>
    <div class="post-box">
      {% block content %}
      {% endblock %}
    </div>
  </footer>
</html>