{% extends 'layout.html' %}

{% block content %}
<head>
  <html lang="en"></html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>library.html</title>
</head>
{%set ROOM_URL = room_Url%}
<body>
  <div id="video-grid"></div>
  <h2> hello </h2>
</body>
{% endblock %}

{% block script %}
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
{% endblock %}