<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>숙명사이버대학교</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://kit.fontawesome.com/6510466b6c.js" crossorigin="anonymous"></script>
    <script>
        const params=window.location.href; //url
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script defer src="/public/room.js"></script>
    <script defer src="/public/canvas.js"></script>
    <script src="/public/error.js"></script>
</head>

<body>
    <div class="container-room">
        <div class="container-left" id="cont-left">
            <div class="box-video"> <!--이름 바꾸기-->
                <div class="video-cont-single" id="vcont">
                    <div class="video-box">
                        <video class="video-frame" id="vd1" autoplay playsinline></video>
                        <div class="mynick">{{user.nick}}</div>
                        <input id="my-id" type="hidden" value="{{user.id}}">
                        <div class="video-off" id="myvideooff">Video Off</div>
                    </div>
                </div>
    
                <div class="whiteboard-cont"><canvas id="whiteboard" height="1000" width="1000"></canvas>
                    <div class="colors-cont">
                        <div class="black" id="colors" onclick="setColor('black')"></div>
                        <div class="red" id="colors" onclick="setColor('#e74c3c')"></div>
                        <div class="yellow" id="colors" onclick="setColor('#f1c40f')"></div>
                        <div class="green" id="colors" onclick="setColor('#badc58')"></div>
                        <div class="blue" id="colors" onclick="setColor('#3498db')"></div>
                        <div class="orange" id="colors" onclick="setColor('#e67e22')"></div>
                        <div class="purple" id="colors" onclick="setColor('#9b59b6')"></div>
                        <div class="pink" id="colors" onclick="setColor('#fd79a8')"></div>
                        <div class="brown" id="colors" onclick="setColor('#834c32')"></div>
                        <div class="grey" id="colors" onclick="setColor('gray')"></div>
                        <div class="eraser" id="colors" onclick="setEraser()"><i class="fas fa-eraser"></i></div>
                        <div class="clearboard" id="colors" onclick="clearBoard()"><i class="fas fa-trash-alt"></i></div>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="utils">
                        <div class="novideo" id="util">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="copycode tooltip" id="util">
                            <div class="roomcode"></div>
                            <i class="fas fa-external-link-alt"></i>
                            <span class="tooltiptext">방 코드 복사</span>
                        </div>
                        <div class="filter tooltip" id="util">
                            <i class="fas fa-filter"></i>
                            <span class="tooltiptext">필터</span>
                        </div>
                        <div class="screenshare tooltip" id="util">
                            <i class="fas fa-desktop"></i>
                            <span class="tooltiptext">화면 공유</span>
                        </div>
                        <div class="board-icon tooltip" id="util">
                            <i class="fas fa-chalkboard"></i>
                            <span class="tooltiptext">화이트 보드</span>
                        </div>
                        <div class="attendies tooltip" id="util-attendies" onclick="showAttendies();">
                            <i class="fas fa-users"></i>
                            <span class="tooltiptext">참가자</span>
                        </div>
                        <div class="cutcall tooltip" id="util">
                            <i class="fas fa-phone-slash"></i>
                            <span class="tooltiptext">방 나가기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="attendies-modal" class="modal" style="display:none;">
            <div class="attendies-list">
                <span class="close" onclick="popupClose();">&times;</span>                                                               
                <p id="attendies">참가자들 ({{room.participants_num}})</p>
                    {% for user in users %}
                    <div class="user" data-nick="{{user.nick}}">
                        <span class="nick" data-nick="{{user.nick}}">
                        {%if user.level_show==0%}
                        {{user.nick}} level: {{user.level}}
                        {%else%}
                        {{user.nick}} level: ?
                        {% endif %}
                        </span>
                    </div>
                    {% endfor %}
            </div>
        </div>

        <div class="container-right" id="cont-right">
            <div class="chat-box">
                <div class="chat-close-butt">&times;</div>
                <div class="chat-head-cont">
                        <!--눈송이 넣기-->
                </div>
                <!-- <hr/> -->
                <div class="chat-cont"></div> <!--채팅내용-->
                <div class="send-cont">
                    <div class="send-chat">
                        <textarea class="chat-input" placeholder="Type chat here.."></textarea>
                    </div>
                    <div class="send-btn">
                        <button class="chat-send">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var modal = document.getElementById('attendies-modal');
    var btn = document.getElementById('util-attendies');
    var span = document.getElementsByClassName("close")[0]; 
    let attendiesVisible=false;

    function showAttendies(){
        if (attendiesVisible){
            attendiesVisible=false;
            modal.style.display = "none";
            btn.style.backgroundColor = "#d8d8d8";  
            btn.style.color = "#393e46";
        } else {
            attendiesVisible=true;
            btn.style.backgroundColor = "#393e46";  
            btn.style.color = "white";
            modal.style.display = "block";
        }
        
    }
    function popupClose(){
        attendiesVisible=false;
        modal.style.display = "none";
        btn.style.backgroundColor = "#d8d8d8";  
        btn.style.color = "#393e46";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var chatClose = document.querySelector('.chat-close-butt');
    chatClose.addEventListener('click',function(event){
       let chatContainer=document.querySelector('.container-right');
       //chatContainer.style.
    }); 
</script>
</html>
