{% extends 'layout.html' %}

{% block login %}
<div class="profile-wrap">
        <!--<div class="profile">-->
        <div>
          {% if user and user.id%}
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
        <div class="login-group">
          <label id="login-text">LOGIN</label>
        </div>
          <form id="login-form" action="/auth/login" method="post">
            <div class="login-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="login-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" >회원가입</a>
            <button id="login" type="submit">로그인</button>
            <a id="kakao" href="/auth/kakao">카카오톡</a>
          </form>
        {% endif %}
    </div>
</div>
{%endblock%}

{%block rooms%}
<div class="room">
  {%for room in rooms%}
      <div class="room-box" data-id="{{room.id}}">
        {% if room.img %}
          <div id="room-thumbnail"><img src="/img/{{room.img}}" width="172px"></div>
        {% endif %}
        <div>{{room.title}}</div>
        <div>{{room.description}}</div> 
        <div>{{room.participants_num}}/{{room.max}}</div>
        <div>{{'비밀방' if room.password else '공개방'}}</div>
        {% if user %}
        <div>
          <button 
            data-password="{{'true' if room.password else 'false'}}"
            data-id="{{room.id}}" class="join-btn">입장</button>
        </div>
        {% endif %}
      </div>
  {%endfor%}
  <div class="room-plus">
  {% if user %}
    <a href="/room" id="create-library">방 생성</a>
  {% endif %}
  </div>
</div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:8001/room', { // 네임스페이스
    //path: '/socket.io'
  });
  socket.on('newRoom', function (data) { // 새 방 이벤트 시 새 방 생성
    let div = document.createElement('div');
    div.textContent = data.title;
    div.appendChild(div);
    div = document.createElement('div');
    div.textContent = data.participants_num+"/"+data.max;
    div.appendChild(div);
    div = document.createElement('div');
    div.textContent = data.password ? '비밀방' : '공개방';
    div.appendChild(div);
    div = document.createElement('div');
    const button = document.createElement('button');
    button.textContent = '입장';
    button.dataset.password = data.password ? 'true' : 'false';
    button.dataset.id = data.id;
    button.addEventListener('click', addBtnEvent);
    div.appendChild(button);
    div.appendChild(div);
    div.dataset.id = data.id;
    document.querySelector('.room').appendChild(div); // 화면에 추가
  });
      
  socket.on('removeRoom', function (data) { // 방 제거 이벤트 시 id가 일치하는 방 제거
    document.querySelectorAll('.room-box').forEach(function (div) {
    if (div.dataset.id == data.roomId) {
      div.parentNode.removeChild(div);
    }
  });
});
  </script>

{%endblock%}
{% block content %}
    <div class="timeline">
      {% if user %}
        <div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="100"></textarea>
            </div>
            <div>
              <button id="twit-btn" type="submit" class="btn">짹짹</button>
            </div>
          </form>
        </div>
      {% endif %}
      </div>
      <div class="twits">
        {% for twit in twits %}
          <div class="twit">
            <input type="hidden" value="{{twit.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <div class="twit-author">
              {{twit.User.nick}}
              <p>{{twit.msg}}</p>
              {% if user.level_show == 0 %}
                <p>{{twit.user.level}}</p>
              {%endif%}
            </div>
            {%if user and twit.User.id==user.id%}
             <button class="delete" value="{{twit.id}}">삭제하기</button>
            {%endif%}
            {%set likeid=false%}
            {%set likerNum=0%}
            {%for like in twit.Liker%}
              {% if like.id===user.id%}
                {%set likeid=true%}
              {%endif%}
              {%set likerNum=likerNum+1 %}
            {%endfor%}
            {%if user and user.id!=twit.User.id and twit and not likeid%}
              <button class="twit-like">좋아요</button>
            {% elif user and user.id!=twit.User.id and twit and likeid%}
              <button class="twit-like-cancel">좋아요취소</button>
            {% endif %}
            <h2>{{likerNum}}</h2>
          </div>
        {% endfor %}
      </div>
    </div>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    function addBtnEvent(e) { // 방 입장 클릭 시
        if (e.target.dataset.password == 'true') {
          const password = prompt('비밀번호를 입력하세요');
          location.href = '/library/' + e.target.dataset.id + '?password=' + password;
      } else {
          location.href = '/library/' + e.target.dataset.id;
      }
    }

  document.querySelectorAll('.join-btn').forEach(function (btn) {
    btn.addEventListener('click', addBtnEvent);
  });
    document.querySelectorAll('.delete').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId === myId.value) {
            if (confirm('게시글을 삭제하시겠습니까?')) {
              axios.delete(`/post/${twitId}`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
     });
    });
 
    document.querySelectorAll('.twit-like').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const twitId = tag.parentNode.querySelector('.twit-id').value;
            if (confirm('좋아요하시겠습니까?')) {
              axios.post(`/post/${twitId}/like`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
          }
        });
    });
    document.querySelectorAll('.twit-like-cancel').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        const twitId = tag.parentNode.querySelector('.twit-id').value;
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('좋아요 취소하시겠습니까?')) {
              axios.delete(`/post/${twitId}/like`)
                .then(() => {
                  location.reload();   //새로고침
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %}

{% block script %}
  <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
        if (new URL(location.href).searchParams.get('RoomError')) {
          alert(new URL(location.href).searchParams.get('RoomError'));
        }
        if (new URL(location.href).searchParams.get('PwError')) {
          alert(new URL(location.href).searchParams.get('PwError'));
        }
      }
  </script>
{% endblock %}
