{% extends 'layout.html' %}
{%block content%}
<div class="container-notice">
    <h2>❄️ 공지사항 ❄️</h2>
    <h5><strong>많은 유저분들의 관심에 힘입어 서비스를 <u style="color:red;">10/30까지</u> 연장 운영하기로 했습니다. 감사합니다.</strong></h5>
    <hr>
    <h3>🎊이벤트 최종 랭킹 발표🎊</h3>
    <table style="margin: 0 auto; padding-top:20px;">
        <th>순위</th>
        <th>닉네임</th>
        <th>레벨</th>
        <th>시간</th>
        <th>이메일</th>
        <tr>
            <td>1위</td>
            <td>이지금</td>
            <td>LV. </td>
            <th>시간</th>
            <td>gae****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>2위</td>
            <td>부르달그보끄으므며느</td>
            <td>LV. </td>
            <th>시간</th>
            <td>haw****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>3위</td>
            <td>콩쥐</td>
            <td>Lv. </td>
            <th>시간</th>
            <td>9705****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>4위</td>
            <td>송</td>
            <td>LV. </td>
            <th>시간</th>
            <td>parkj****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>5위</td>
            <td>다들화이팅thisisdidi</td>
            <td>LV. </td>
            <th>시간</th>
            <td>daje*******@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>6위</td>
            <td>식빵이</td>
            <td>LV. </td>
            <th>시간</th>
            <td>juic*******@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>7위</td>
            <td>공부하자</td>
            <td>LV. </td>
            <th>시간</th>
            <td>mere*****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>8위</td>
            <td>+ 에이쁠 +</td>
            <td>LV. </td>
            <th>시간</th>
            <td>yewo*****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>9위</td>
            <td>퐈이태앵</td>
            <td>LV. </td>
            <th>시간</th>
            <td>tjc****@sookmyung.ac.kr</td>
        </tr>
        <tr>
            <td>10위</td>
            <td>고양이뱃살만지고싶어</td>
            <td>LV. </td>
            <th>시간</th>
            <td>161****@sookmyung.ac.kr</td>
        </tr>
    </table>
    <h6 style="padding-top: 1%;padding-bottom: 3%; color:gray;">기프티콘은 9월 20일 정오에 이메일로 발송될 예정입니다.</h6>
</div>
{%endblock%}
